ADMIN_USER_ID=1111111
BOT_TOKEN=TOKEN
BOT_TOKEN_PROD=TOKEN
EMAIL_AUTH_HOST=example.com
EMAIL_AUTH_PASSWORD=PASSWORD
EMAIL_AUTH_PORT=25
EMAIL_AUTH_USER=email@email.email
EMAIL_CC=email@email.email
EMAIL_FROM="Our Table" <email@email.email>
EMAIL_TO=email@email.email
PUB_QUIZ_GROUP_ID=111111111
PUB_QUIZ_GROUP_ID_PROD=111111111